<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackerRank Clone <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <%- style  %>
</head>
<body class="body">
        <%- include('./headers/_header')  %>
        <%- body %>

        <%- include('./footers/_footer') %>
        <%- script %>
        <script>
            <% if (alerts.error) { %>
     
            <% for(let i=0;i<alerts.error.length;i++){ %>
                new Noty({
                theme: 'mint',
                type: 'error',
                text: '<%= alerts.error[i] %>',
                layout: 'topRight',
                timeout: 1500,
            }).show();
           <% } %>     
               
            <% } %>   
           <% if(alerts.success){ %>
            new Noty({
                theme: 'mint',
                type: 'success',
                text: '<%= alerts.success %>',
                layout: 'topRight',
                timeout: 1500,
            }).show();
            
           <% } %>
    </script>
        
    </body>
</html>